<h2><%= @nomCours %> </h2>
<p>
Auteur : <%= @auteur %> <br/>
Date de dernière mise à jour : <%= @date %> <br/>
</p>


<p>
<%= link_to 'Générer le Html', {:controller=>'admin', :action=>'genererUnHtml', :dossier=>File.dirname(@ficConf)}, :class => 'btn' %> 
<%= link_to 'Générer le Pdf', {:controller=>'admin', :action=>'genererUnPdf', :dossier=>File.dirname(@ficConf)}, :class => 'btn' %> 
<%= link_to "Supprimer", {:controller=>'admin', :action=>'supprimerCours', :dossier=>File.dirname(@ficConf)}, :class => 'btn btn-danger' %> 
</p>